@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
/* Banner Styles */
.banner{
  background-image: url("../assets/Hero-bg.png");
  width: 100%;
  height: 652px;
  display: flex;
  justify-content: center;
  
}

.banner-content{
  margin: 26px 221px 45px 221px;
  width: 950px;
  height: 581px;
}
.banner-content img{
  align-items: center;
  width: 240px;
  margin: 0 355px 32px 355px;
}


.banner-content h1{
  font-size: 48px;
  font-weight: 800;
  color: #0D1321;
  margin: 32px 0 24px 0;
  text-align: center;
}

.banner-content p{
  font-size: 16px;
  font-weight:400;
  color: #0D1321; 
  margin-bottom: 0 100px 32px 100px;
  line-height: 26px;
  text-align: center;
  letter-spacing: normal;
  padding: 0 50px 0 50px;
}

.banner-content button{
  background-color: #0D1321;
  color: white;
  width: 244px;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 24px;
  border-radius: 8px;
  margin:0 335.5px 0 335.5px;
}

