@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
/* Banner Styles */
.banner{
  background-image: url("../assets/Hero-bg.png");
  width: 100%;
  height: 652px;
  display: flex;
  justify-content: center;
  
}

.banner-content{
  margin: 26px 221px 45px 221px;
  width: 950px;
  height: 581px;
}
.banner-content img{
  align-items: center;
  width: 240px;
  margin: 0 355px 32px 355px;
}


.banner-content h1{
  font-size: 48px;
  font-weight: 800;
  color: #0D1321;
  margin: 32px 0 24px 0;
  text-align: center;
}

.banner-content p{
  font-size: 16px;
  font-weight:400;
  color: #0D1321; 
  margin-bottom: 0 100px 32px 100px;
  line-height: 26px;
  text-align: center;
  letter-spacing: normal;
  padding: 0 50px 0 50px;
}

.banner-content button{
  background-color: #0D1321;
  color: white;
  width: 244px;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 24px;
  border-radius: 8px;
  margin:0 335.5px 0 335.5px;
}

/* Web Development Style */
.web-development{
  width: 1140px;
  height: 1393px;
  
  margin: 0px auto 90px auto;
  padding: 80px;
}

.development-content{
  
  align-items: center;
  
}

.development-title{
  font-size: 32px;
  font-weight: 800;
  color: #0D1321;
  text-align: center;
}

.development-description{
  font-size: 16px;
  color: #0D1321;
  text-align: center;
}
.dev-cont-part{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 20px;
  

}
.dev-cont-part h4{
font-size: 24px;
font-weight: 700;
opacity: .7;
color: #0D1321;

}
.dev-cont-part p{
font-size: 16px;
/* opacity: 1; */
color: #0D1321;
}
.dev-cont-part a button{
  color: #0D1321;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 20px;
}
 /* Inspiration sec styles */

 .my-inspiration{
  max-width: 1140px;
  margin: 90px auto 150px auto;
 }
 .my-inspiration h2{
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  color: #0D1321;
  margin-bottom: 24px;
 }
 .my-inspiration p{
  font-size: 16px;
  opacity: .7;
  color: #0D1321;
  text-align: center;
  margin-bottom: 48px;
 }

 .yt-video iframe{
  padding: 32px;
  border-radius: 16px;
 }

 /* My Current Target Styles */
.my-current-target{
  max-width: 1140px;
  margin: 0 auto 111px auto;
}

.my-current-target h2{
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  color: #0D1321;
  margin-bottom: 24px;
}
.my-current-target p{
  font-size: 16px;
  opacity: .7;
  color: #0D1321;
  text-align: center;
  margin-bottom: 48px; 
}

.cards{
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
.card-html{
  background-color:rgba(255, 76, 30, 0.05);
  border-radius: 16px;
  padding: 40px;
}

.card-html h4{
  font-size: 24px;
  font-weight: 900;
  color: #0D1321;
  margin-top: 24px;
}

.card-html p{
  text-align: left;
  margin-top: 8px;
  margin-bottom: 24px;
  opacity: .7;
}
.card-css{
  background-color:rgba(0, 76, 232, 0.05);
  border-radius: 16px;
  padding: 40px;
} 
.card-css h4{
  font-size: 24px;
  font-weight: 900;
  color: #0D1321;
  margin-top: 24px;
}
.card-css p{
  text-align: left;
  margin-top: 8px;
  margin-bottom: 24px;
  opacity: .7; 
}
.card-js{
  background-color:rgba(255, 223, 0, 0.05);
  border-radius: 16px;
  padding: 40px; 
}
.card-js h4{
  font-size: 24px;
  font-weight: 900;
  color: #0D1321;
  margin-top: 24px; 
}
.card-js p{
  text-align: left;
  margin-top: 8px;
  margin-bottom: 24px;
  opacity: .7;  
}

/* Support Section Styles */
.support{
  background-image:url("../assets/handshake.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 64px 40px;
  width: 1040px;
  height: 313px;
  margin: 50px auto;
  border-radius: 16px;
  background-color: #0005; background-blend-mode: darken;
}
.support h2{
  font-size: 32px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}
.support p{
  color: #FFFFFF;
  opacity: .7;
  text-align: center;
  margin: 16px auto 24px;
}

.support input[type="text"]{
  
  padding: 19px 215px 19px 20px;
  width: 548px;
  height: 57px;
  border-radius: 8px;
}
.support input[type="submit"]{
  font-size: 20px;
  font-weight: 600;
  width: 120px;
  height: 60px;
  border-radius: 8px;
  padding: 20px 20px;
}

/* Footer Styles */

.footer{
  background-color: rgba(13, 19, 33, 0.03);
}
.social-media-link{
  display: flex;
  justify-content: space-between;
  padding: 32px 150px;
  width: 1140px;
  /* text-align: center; */
  margin: auto auto;
  font-size: 20px;
  font-weight: 600;
  color: #0D1321;
}





