@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
/* Banner Styles */
.banner{
  background-image: url("../assets/Hero-bg.png");
  width: 100%;
  height: 652px;
}

.banner-content{
  margin: 26px 221px 45px 221px;
  text-align: center;
}

.banner-content h1{
  font-size: 48px;
  font-weight: 800;
  color: #0D1321;
  margin: 32px 0 24px 0;
}

.banner-content p{
  font-size: 16px;
  font-weight:400;
  color: #0D1321; 
  margin-bottom: 0 100px 32px 100px;
  line-height: 26px;
  /* width: 852px;
  height: 52px; */
  text-align: center;
  letter-spacing: normal;
}

.banner-content button{
  background-color: #0D1321;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 24px;
  border-radius: 8px;
  margin-bottom: 0px;
}
